<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article {{ amsf_page_lang }}>

  <!-- Post content -->
  <div class="post-content">
    {{ content }}
  </div>

  <strong>
    <span id="page-title">{{ page.title }}</span><br>
    <span id="page-title-en">{{ page.title_en }}</span>
  </strong>

  {% include {{ amsf_theme_base }}/includes/nav.html %}

  <nav>
    <a href="{{ '/' | relative_url }}#{{ page.category }}" class="menu-button">
      <i class="material-icons md-48">toc</i><br>
      返回目录
    </a>
    <a href="/" class="menu-button">
      <i class="material-icons md-48">home</i><br>
     返回主页
    </a>
    <a href="{{ '/settings/' | relative_url }}" class="menu-button">
      <i class="material-icons md-48">settings</i><br>
     设置
    </a>
  </nav>

</article>

{% include {{ amsf_theme_base }}/includes/header.html %}
