<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article {{ amsf_page_lang }}>

  <br>
  <nav>
    <a href="{{ '/' | relative_url }}" class="menu-button">
      <i class="material-icons md-48">toc</i><br>
      返回目录
    </a>
    <a href="/" class="menu-button">
      <i class="material-icons md-48">home</i><br>
     返回主页
    </a>
    <a href="{{ '/settings/' | relative_url }}" class="menu-button">
      <i class="material-icons md-48">settings</i><br>
     设置
    </a>
  </nav>
  <br>

  {% include {{ amsf_theme_base }}/includes/nav.html %}
  
  <!-- Post content -->
  <div class="post-content">
    <p>
      {{ page.title }}<br>
      {{ page.title_en }}
    </p>
    {{ content }}
    
    <br>
    <br>
  </div>
  
  {% include {{ amsf_theme_base }}/includes/nav.html %}

</article>
